/* the body styles */
body{
    background-image: url(tools/images/headphones_hero_1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* nav bar styles */
.navbar{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.navlist{
    display: flex;
    padding: 10px;
    gap: 1rem;
    font-size: 20px;
    max-width: 100%;
    min-width: fit-content;
}
.navlist:hover{
    color: #FF6565;
}
.navlist:active{
    color: #FF6565;
}
a{
   text-decoration: none;
   color: aliceblue;
}
/* the hero section */
.herosection{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content:flex-end;
   height: 80vh;
}

h1{
    padding: 30px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

#heroP{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 10px;

}
.secondP{
    text-align: center;
}
.secondherop{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 10px;
}
button{
    margin: 30px;
    padding: 20px;
    align-items: center;
    border-radius: 50px 50px 50px 50px;
    border: none;
    background-color: #FF6565;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.9;
}