@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');





#background{
    background-image:url(resources/images/background.png) ;
    min-height: 140vh;
    min-width: 100vh;
}


/* styling the nav bar */

#logo{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    left: 30px;
}

.list-elements{
    display: flex;
    justify-content:flex-end;
    gap: 2em;
    flex: 0 0 auto;
    box-sizing: border-box;
    position: relative;
    bottom: 50px;
    right: 50px;
    list-style: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.list-elements a {
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}

.list-elements :hover{
    color:  rgba(194, 113, 255, 1);
}

/* styling the main content and the header */


#opening{
    display: flex;
    justify-content: center;
    font-size: 120px;
    position: relative;
    top: 90px; 
    font-family: sans-serif;
    color: rgba(255, 255, 255, 1);
}

#opening:hover{
    color:  rgba(194, 113, 255, 1);
    font-size: 122px;
}

span{
    position: relative;
    left:40%;
    top: 95px;
    letter-spacing: 0%;
    gap: 2em;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
span:hover{
    color:  rgba(194, 113, 255, 1);
}
.REGISTER{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45%;
    top: 150px;
    border-radius: 22px;
    background-color: rgba(194, 113, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    height: 44px;
    width: 162px;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    text-wrap: nowrap;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 0;
}

/* the pros  */
#pros{
    display: flex;
    justify-content: center;
    position: relative;
    top: 350px;
    right: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
}

.learn{
    color: rgba(194, 113, 255, 1);
    position: relative;
    left: 15px;
    bottom: 0px;
    top: 0.5px;

}

.imgs{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    position: relative;
    top: 400px;
    color:rgba(255, 255, 255, 1) ;
    font-family: sans-serif;
}

/* section 2 */
.background2{
    background-color: rgba(194, 113, 255, 1);
    min-height: 60vh;
}

.mg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position:relative;
    left: 300px;
    top: 130px;
    right: 10px;
}

.qoute{
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 160%;
    left: 35%;
    bottom: 50px;
    font-size: 22px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

#name{
    display: flex;
    justify-content:center;
    position: relative;
    right: 195px;
    top: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 22px;
}

#weather{
    display: flex;
    justify-content: center;
    position: relative;
    right: 150px;
    top: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 400;
}

/* section 3 */
.third-section{
    background-color: rgba(255, 255, 255, 1);
    min-height: 80vh;
}

.h-ofthirdsection{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 32px;
}

.popular{
    color: rgba(194, 113, 255, 1);
    display: flex;
    justify-content: center;
    position: relative;
    left: 1px;
    top: 5px;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}
/* images of the previews */
/* first image */
.imageone{
    position:absolute;
    right: 1150px;
    top: 1625px;
}
.firststars{
    display: flex;
    position: absolute;
    right: 1305px;
    top: 1890px;
    color: rgba(194, 113, 255, 1);
}

#a{
    color:rgba(216, 216, 216, 1);
}

.h{
    position: absolute;
    right: 1280px;
    top: 1779px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.p{
    position: absolute;
    right:1170px;
    top: 1800px;
    color: rgba(7, 22, 41, 0.5016);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.phione{
    position: absolute;
    right:1370px;
    top: 1855px;
}

.ph-one{
    position: absolute;
    right:1260px;
    top: 1855px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.min{
    position: absolute;
    right:1200px;
    top: 1890px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}
/* second image */
.imagetwo{
    position:absolute;
    right: 150px;
    top: 1625px;
}

.htwo{
    position: absolute;
    right: 300px;
    top: 1779px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;

}

.ptwo{
    position: absolute;
    top: 1800px;
    right: 170px;
    color: rgba(7, 22, 41, 0.5016);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.firstph{
    position: absolute;
    top: 1855px;
    right:259px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.phi{
    position: absolute;
    top: 1855px;
    right:369px;
}
.secondstars{
    display: flex;
    position: absolute;
    top: 1890px;
    right: 300px;
    color: rgba(194, 113, 255, 1);
}
#b{
    color: rgba(216, 216, 216, 1);
}
.mina{
     position: absolute;
    top: 1890px;
    right: 180px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}
/* third image */
.imagethree{
    position: absolute;
    right: 470px;
    top: 1625px;
}

.thirdstars{
    display: flex;
    position: absolute;
    top: 1890px;
    right: 630px;
    color: rgba(194, 113, 255, 1);
}
#c{
    color: rgba(216, 216, 216, 1);
}
.hthree{
position: absolute;
    right: 610px;
    top: 1779px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.pthree{
position: absolute;
    right: 490px;
    top: 1800px;
    color: rgba(7, 22, 41, 0.5016);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.avatarthree{
position: absolute;
    right: 700px;
    top: 1855px;
}
.phthree{
position: absolute;
    right: 590px;
    top: 1855px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.minthree{
position: absolute;
    right: 490px;
    top: 1890px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/* image four */

.imagefour{
    position: absolute;
    right: 820px;
    top: 1625px;
}

.fourthstars{
    display: flex;
    position: absolute;
    top: 1890px;
    right:975px ;
    color: rgba(194, 113, 255, 1);
}
#d{
    color: rgba(216, 216, 216, 1);
}

.hfour{
position: absolute;
    right: 995px;
    top: 1779px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.pfour{
position: absolute;
    right: 840px;
    top: 1800px;
    color: rgba(7, 22, 41, 0.5016);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.avatarfour{
position: absolute;
    right: 1040px;
    top: 1855px;
}
.phfour{
position: absolute;
    right: 930px;
    top: 1855px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.minfour{
position: absolute;
    right: 840px;
    top: 1890px;
    color: rgba(194, 113, 255, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}


/* section 4 */
#forth-section{
    background-color: rgba(7, 22, 41, 1);
    min-height: 70vh;
}

.h-sectionfour{
    position: absolute;
    left: 695px;
    top:2150px; 
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 32px;

}
#free{
    color:rgba(194, 113, 255, 1);
    position: absolute;
    left: -100px;
    top:0px; 
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;

}
/* displaying the images and paragraph */
/* first image in section 3 */
.img-a{
    position: absolute;
    top:2250px;
    right: 250px;
}
.h-one{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 18px;
    font-family: sans-serif;
    position: absolute;
    top: 2300px;
    left: 1185px;
}

.p-one{
    position: absolute;
    top: 2330px;
    left: 1180px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
}
/* second image */
.image-b{
position: absolute;
top:2250px;
right: 600px;
}

.h-two{
position: absolute;
top: 2300px;
right: 560px;
color: rgba(255, 255, 255, 1);
font-weight: 600;
font-size: 18px;
font-family: sans-serif;
}

.p-two{
position: absolute;
top: 2330px;
right: 500px;
color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 400;
font-family: sans-serif;
}
/* third image  */
.image-c{
position: absolute;
top:2250px;
right: 900px;
}
.h-three{
position: absolute;
top: 2300px;
right: 870px;
color: rgba(255, 255, 255, 1);
font-weight: 600;
font-size: 18px;
font-family: sans-serif;
}

.p-three{
position: absolute;
top: 2330px;
right: 810px;
color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 400;
font-family: sans-serif;
}
/* fourth image */
.image-d{
position: absolute;
top:2250px;
right: 1200px;
}
.h-four{
position: absolute;
top: 2300px;
right: 1160px;
color: rgba(255, 255, 255, 1);
font-weight: 600;
font-size: 18px;
font-family: sans-serif;
}

.p-four{
position: absolute;
top: 2330px;
right: 1100px;
color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 400;
font-family: sans-serif;
}

/* buttom */
.buttom{
position: absolute;
top: 2500px;
left: 670px;
background-color: rgba(194, 113, 255, 1);
width: 162px;
height: 44px;
border-radius: 22px;
font-family: sans-serif;
font-size: 14px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
}

/* section 5 */
.sectionfive{
    min-height:90vh;
}
.head-h{
    position: absolute;
    top: 2600px;
    left: 700px;
    color: rgba(7, 22, 41, 1);
    font-size: 60px;
    font-weight: 300;
}
.hs{
    display: flex;
    justify-content: space-around;
    padding: 90px;
    margin: 30px;
    color:rgba(7, 22, 41, 0.5016);
    font-family: sans-serif;
}
#a-h{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    color: rgba(7, 22, 41, 1);
    font-size: 16px;
    font-weight: 700;
}
#b-h{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    color: rgba(7, 22, 41, 1);
    font-size: 16px;
    font-weight: 700;
}
#c-h{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    color: rgba(7, 22, 41, 1);
    font-size: 16px;
    font-weight: 700;
}
#d-h{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    color: rgba(7, 22, 41, 1);
    font-size: 16px;
    font-weight: 700;
}

/* footer */
.footer{
    min-height: 20vh;
    background-color: rgba(7, 22, 41, 1);
}

.logos{
    display: flex;
}

#mainlogo{
    padding: 60px;
}

.lastp{
    position: absolute;
    color:rgba(255, 255, 255, 1);
    left: 690px;
    top: 3450px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.social{
    position: absolute;
    left: 1200px;
    top: 3410px;
    color: aliceblue;
    padding-right: 10px;
    margin-right: 10px;
}